#container_body {
  padding: 20px;
}
.form_title {
  font-size: 35px;
  font-weight: bold;
  color: darkblue;
  text-align: center;
  padding: 10px;
}
.head_para {
  font-size: 19px;
  color: #99a2a7;
  text-align: center;
  font-weight: normal;
}
.button {
  background-color: green;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#form_name {
  padding: 25px 0 0 15px;
  font-weight: 300;
  color: black;
  font-weight: normal;
  text-align: left;
}

table {
  border: 1px solid black;
}
#name {
  margin-right: 20px;
}
marquee {
  /* background-color: blueviolet; */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: black;
  padding: 10px;
  font-size: larger;
  font-style: italic;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.box {
  width: 25vw;
  padding: 1em;
  perspective: 600px;
  position: relative;
}
h3 {
  margin: 40px 0 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: blue;
  text-align: left;
  font-weight: bold;
}
body {
  background-color: lightgrey;
  width: 300px;
  border: 25px solid green;
  padding: 25px;
  margin: 25px;
}